<select {{action "onSelectPlayer" on="change" }}>
  <option value="">выберите игрока</option>
  {{#each players as |p|}}
    <option value="{{ p.id }}">{{ concat p.lastName ", " p.firstName }}</option>
  {{/each}}
</select>